header{
    .navbar {
        width: 100%;
    }
    .navbar-brand{
        color: #df6a1c;
    }
    .container-fluid{
        color: #df6a1c;
        .ubi a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.548);
            padding-top: 1px;
        }
        .btn{
            background-color: #ebb99786 !important;
            border: #e29b6b !important;
            color: black !important;
        }
        .btn:hover{
            background-color: #e29b6b !important; 
        }
    }
}
    .arranque {
    background-image: url(../img/familia0km.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
        .arranque h2 {
        color: rgb(54, 41, 27);
        margin-left: 30px;
        background-color: #e29b6b;
        width: 180px;
        }
    .titulo h2{
        background-color: #e29b6b;
        text-align: center;
        margin-top: 50px;
        text-decoration: overline;
        padding: 8px;
    }
        .titulo p {
            margin: 10px 250px 10px 250px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            font-weight: 100;
        }
        .titulo h3  {
            background-color:#e29b6b ;
            padding: 8px;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .titulo a {
            color: black;
            padding: 15px;
            text-align: center;
        }
    .planes h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 200;
        font-style: oblique;
        text-decoration: overline;
        text-align: center;
        margin-top: 25px;
        padding: 8px;
        background-color:#e4b291;
        
    }
        .planes h4 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            font-size: 25px;
        }
        .planes p {
            text-align: center;
            font-family:monospace;
            font-weight: 50;
            margin: 10px 200px 10px 200px;
            text-align: center;
            font-size: 20px;
        }

    .opciones h2{
        background-color: #df6a1ca1;
        text-align: center;
        font-family: inherit;
        font-size: 25px;
        font-weight: 100;
        padding: 10px;
        margin: 15px 0 15px 0 
    }
        .opciones h3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 100;
            text-decoration:underline;
            margin-left: 15px;
    }
        .opciones img {
            width: 250px;
            height: 200px;
        }
        .opciones img {
            width: 290px;
            height: 200px;
        }
        .opciones div {
            display: inline-block;
            justify-content: center;
            border: 2px solid rgb(94, 91, 81);
            width: 290px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #d4b8a5;
            margin: 15px;
            margin-left: 30px;
        }
    .carrusel1 img{
        width: 80% !important;
        height: 500px !important;
        margin-left: 12%;
        border: 1px solid rgba(49, 47, 47, 0.247);
        border-radius: 20px;
        margin-top: 15px;
    }